<html>
  <head>
    <link rel='shortcut icon' href='/assets/images/favicon.ico' />
    <link rel='stylesheet' href='/assets/tailwind2.css'/>
    <link rel='stylesheet' href='/assets/styles.css'/>
    <script src='/dist/main.js' defer></script>
  </head>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&libraries=places" defer></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_API_KEY %>&libraries=places&callback=initAutocomplete" async defer></script> -->
  <body class="bg-gray-900">
    <div id='root'></div>
  </body>
</html>
